.formdate {
  position: fixed;
  left: 0;
  top: 0;
  max-width: 340px;
  z-index: 999;

  input,
  label {
    font-family: 'DM Sans', sans-serif;
    font-size: 0.9rem;
    width: 100%;
    padding: 2px;
  }
  label {
    display: block;
    margin: 2px 0;
  }

  button {
    position: relative;
    appearance: none;
    border-color: transparent;
    border-radius: 8px;
    // background-color: #0f0f0f;
    cursor: pointer;
    
    &:hover{
      background-color: darken($color: #e2e2e2, $amount: 1%);
    }
    &:active {
      background-color: darken($color: #e2e2e2, $amount: 10%);
    }

  }
}
button.config {
  border-radius: 0 10px 10px 0 !important;
  background-color: #0f0f0f;
  top: 45px;
  box-shadow: 1px 1px 10px rgba(225,225,225,0.06);
  padding: 10px;
  z-index: 999;
}
button.send {
  display: block;
  width: 50%;
  padding: 8px 8px;
  margin: 15px auto;
  box-shadow: 1px 0 20px rgba(225,225,225,0.2);
}
.formcontent {
  padding: 18px 15px 18px 36px;
  position: relative;
}
.isHidden {
  visibility: hidden;
}