*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@mixin primary-button {
  background-color: peachpuff;
  color: #c4c4c4;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;

  &:hover {
    background-color: darken($color: peachpuff, $amount: 10%);
  }
}
#root {
  width: 100%;
  margin: auto;
}
body,
html {
  font-family: "Consolas", sans-serif;
}
body {
  display: flex;
  height: 100vh;
  overflow: hidden;
  align-items: center;
  // width: 100vw;
  justify-content: center;
}
h1,
h2,
h3 {
  text-align: center;
  color: #191919;
}
p {
  text-align: center;
}
.main {
  margin: auto;
  padding: 1rem 0.125rem;
  height: 100%;
  width: 100%;
  background-color: aquamarine;
}
