.counter {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 3rem 4rem;
  border-radius: 5px;
  box-shadow: 1px 1px 38px rgba(0,0,0,0.1);
  padding: 0 0.9rem;
  gap: 1.5rem;
  transition: box-shadow linear 0.2s;
  &:hover{
    box-shadow: 1px 1px 30px rgba(225,215,225,0.2);;
  }
  @media(width >= 1024px){
    margin: 2rem 9rem;
  }
  @media(width < 600px){
    margin: 3rem 0;
  }

}
.row {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.space {
  font-size: 1.5em;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  position: relative;
  top: 1px;
  left: 30px;
  
}
@media (width <= 600px){
  .space:nth-of-type(2) {
    display: none;
  }
}
.loader {
  color: black;
}

.reloj {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-items: center;
  gap: 8px;
  align-items:center;
  @media (width <= 768px){
    grid-template-columns: 2fr 2fr;
    row-gap: 2rem;
    column-gap: 1rem;
  }
}
.col > p {
  font-size: 1.2rem;
}