.counter {
  z-index: 1;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: auto;
  border: 1px solid rgba(125, 0, 0, 0.2);
  border-radius: 5px;
  padding: 0 0.9rem;
  gap: 1.5rem;
  transition: box-shadow linear 0.2s;
  &:hover {
    box-shadow: 1px 1px 30px rgba(225, 215, 225, 0.2);
  }
  @media (width >= 1024px) {
    margin: auto;
    max-width: 600px;
    width: 500px;
    padding: 10px 30px;
  }
  @media (width < 600px) {
    margin: 0.5rem 0;
    width: 100%;
  }
}
.counter--wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 2rem;
  @media (width >= 1024px) {
    gap: 3rem;
    margin: 1.2rem 1rem;
  }

  @media(width <= 768px){
    row-gap: 1.5rem;
  }
 }
.row {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.col {
  display: grid;
}
.space {
  font-size: 1.5em;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva,
    Verdana, sans-serif;
  position: relative;
  color: #c4c4c4;
  top: 1px;
  left: 30px;
}

.loader {
  color: black;
}

.reloj {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-items: self-start;
  gap: 12px;
  align-items: center;
  @media (width < 768px) {
    grid-template-columns: 2fr 2fr;
    row-gap: 2rem;
    column-gap: 1rem;
    justify-items: center;
  }
}
.col > p {
  font-size: 1.2rem;
}
