.hidden {
	display: none;
}
.modal--backdrop {
	width: 100vw;
	height: 100vh;
	overflow: hidden;
	background: rgba($color: #161630, $alpha: 0.2);
	position: fixed;
	backdrop-filter:blur;
	top: 0;
	z-index: 1300;
}
.modal--container {
	background-color: #f2f2f2;
	box-shadow: 1px 1px 30px rgba(0,0,0,0.1);
	border-radius: 4px;
	display: block;
	max-width: 600px;
	min-height: 300px;
	position: relative;
	margin: auto;
	top: calc(100vh / 5);
	z-index: inherit;
}
.btn--close {
	background-color: #f2f2f2;
	padding: 5px;
	margin-right: 10px;
}
.modal--header {
	display: flex;
	justify-content: flex-end;
}