.image-back {
  background-image: url("https://64.media.tumblr.com/79c3564e49f84aaf8d968a5d3d0eec61/45bc1ad6625bafea-94/s1280x1920/49e8752bda9b8af7a9596e0795aad1bdde3653a3.gifv");
  width: 100%;
  position: absolute;
  min-height: 20px;
  top: 0;
  margin: 10px;
  background-repeat: repeat-x;
}