.image-back {
  background-image: url("/src/assets/guard_1.png");
  width: 100%;
  position: absolute;
  min-height: 30px;
  background-size: contain;
  top: 0;
  // margin: 10px;
  background-repeat: repeat-x;
}